* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: hsl(0, 0%, 20%);
    background-color: hsl(0, 0%, 90%);
    font-family: 'Inter';
}

header {
    text-align: center;
    padding-block: 5rem;
}

h1 {
    font-size: 5rem;
}

/* esto sera un modal proximamente */


section.game {
    position: relative;
    padding: 5rem;
    width: 600px;
    margin-inline: auto;
}

.floating-label {
    position: relative;
    margin-bottom: 1.5rem;
}

.floating-label input {
    width: 100%;
    padding: 1rem .5rem .5rem;
    font-size: 1rem;
    border: 1px solid hsla(0, 0%, 20%, 0);
    border-radius: 4px;
    background: none
}

.floating-label label {
    position: absolute;
    top: 1rem;
    left: .5rem;
    color: #888;
    font-size: 1rem;
    pointer-events: none;
    transition: .2s ease all;
}

.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
    top: -.5rem;
    font-size: .8rem;
    background-color: hsl(0, 0%, 90%);
    padding: 0 .25rem;
}

.status {
    color: hsl(0, 0%, 30%);
    position: absolute;
    font-weight: 500;
    inset-inline: 0;
    top: -1rem;
    font-size: 2.5rem;
    text-align: center;
}

.status[data-game-status='in-game'] {
    display: none;
}

.btn {
    display: inline;
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    inset: 220px;
    transition: all ease .2s;
    z-index: 10;
}

.btn:hover {
    opacity: .85;
}

.btn:active {
    transform: scale(.95);
    opacity: 1;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    background-color: hsl(0, 0%, 20%);
    padding: 4px;
}

.board.inactive {
    pointer-events: none;
    opacity: .5;
    cursor: not-allowed;
}

.cell {
    aspect-ratio: 1;
    background-color: hsla(0, 0%, 100%, 0.99);
    color: hsl(0, 0%, 20%);
    display: grid;
    place-items: center;
    font-size: 5rem;
    cursor: pointer;
}
